body{
    padding: 0;
    margin: 0;
    font-family: 'Inter';

}

.gorne-menu{
    width: 100vw;
    height: 200px;
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
}

.navigator{
    position: absolute;
    width: 300px;
    height: 100px;
    right: 25%;
}

.fa, .fa-search{
    position: relative;
    left: 0px;
}

.gorne-menu ul li{
    float: left;
}
.gorne-menu ul input{
    position: relative;
    width: 200px;

}
.przycisk, .przycisk3{
    /*position: absolute;

    width: 150px;
    padding: 20px 10px;*/
    background-color: #217BF4;
    border-radius: 14px;
    border-color: #217BF4;
    color: #ffffff;
    font-weight: 600;
    right: 10%;
}

.przycisk2{
    border-radius: 14px;
    color: #217BF4;
    width: 150px;
    padding: 20px 10px;
    font-weight: 500;
    border: 1px solid;
}

.belka{
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: #217BF4;
    top:150px; 
}
/* Początek stopki */
.stopka{
    background-color: #2B2B39;
    width: 100vw;
    position: relative;
    padding: 40px 0 40px 0;
    
}

.stopka h3{
    color: #ffffff;
    font-weight: 800;
    line-height: 20px;
    margin-left: 50px;
}

.stopka h3:nth-child(5){
    line-height: 32px;
}

.stopka ul li{
    color: #E7E7E7;
    letter-spacing: 0.0125em;
    line-height: 40px;
    font-weight: 400;
    margin-left: 50px;
    font-size: 14px;
}
.stopka ul input{
    border: 1px solid rgba(255,255,255,0.85);
    background-color: #2B2B39;
    border-radius: 12px;
    padding: 15px;
    margin-left: 17%;
    width: 250px;
    color: #ffffff;
    position: absolute;
}

.newsletter{
    margin-top: 15px;
    position: relative;
    width: 250px;
}
#submit{
    position: absolute;
    background-color: #ffffff;
    color: #2B2B39;
    width: 100px;
    margin-left: 100%;
}

.section-newsletter{
    position: relative;
    float: right;
    margin-right: 200px;
}

.section-newsletter ul h3{
    top:50px;
    line-height: 25px;
}

.section-newsletter ul li{
    line-height: 25px;

}
.dolneLogo{
    position: relative;
    background-color: #20202D;
    width: 100vw;
    height: 70px;
}

ul{
    list-style-type: none;
    display: inline-block;
}

/*Koniec stopki*/
